<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <div class="old field">
      <% if book.image? %>
        <%= image_tag book.image.thumb, :size => "45x45" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :bookpdf %>
    <%= f.file_field :bookpdf %>
    <div class="old field">
      <% if book.bookpdf? %>
        <%= link_to "Book PDF Show", book.bookpdf.url %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
