<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Image:</strong>
  <% if @book.image? %>
    <%= link_to image_tag(@book.image.thumb), @book.image.url %>
  <% end %>
</p>

<p>
  <strong>Bookpdf:</strong>
  <%= link_to "Download", @book.bookpdf.url %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
