<h1>Rental</h1>
<div>
  <%= link_to "show cart", rental_show_path %>
  | size: <%= rental_books ? rental_books.size : 0 %>
</div>

<% @books.each do |book| %>
  <h2><%= book.title%></h2>
  <% if book.image? %>
    <%= link_to image_tag(book.image.thumb), book.image.url %>
  <% else %>
    <%= link_to image_tag('Image-not-found.gif') %>
  <% end %>
  <div class="field">
    <strong>Author</strong>
    <%= book.author %>
  </div>
  <div class="field">
    <strong>Publisher</strong>
    <%= book.publisher %>
  </div>
  <%= link_to "add cart", rental_addcart_path(book) %>
  <hr />
<% end %>
