<h1>Rental#show</h1>
<%= link_to 'return to rental', rental_path %>
<%= link_to_if book_ids.size != 0, "let's rental",
      rental_lets_rental_path do end %>

<%= content_tag :p, "cart is empty." if book_ids.size == 0 %>

<% @books.each do |book| %>
  <h2><%= book.title%></h2>
  <% if book.image? %>
    <%= link_to image_tag(book.image.thumb), book.image.url %>
  <% else %>
    <%= link_to image_tag('Image-not-found.gif') %>
  <% end %>
  <div class="field">
    <strong>Author</strong>
    <%= book.author %>
  </div>
  <div class="field">
    <strong>Publisher</strong>
    <%= book.publisher %>
  </div>
  <%= link_to 'destroy this', rental_destroy_path(book), data: { confirm: 'Are you sure?' } %>
  <hr />
<% end %>
